/* Sign UP css starts here */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.auth-wrapper {
  display: flex;
  min-height: 100vh;
  background: #f9f9f9;
}

.auth-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.setImage {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.auth-form {
  flex: 1;
  padding: 40px 60px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-nav {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  margin-bottom: 40px;
  color: #f06a7f;
  font-weight: 500;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #f06a7f;
}

.sub-text {
  margin-bottom: 25px;
  color: #999;
}

.sub-text span {
  color: #f06a7f;
  font-weight: 600;
  cursor: pointer;
}

form input {
  width: 100%;
  padding: 14px 16px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #f2b6c0;
  background: #fdecef;
  outline: none;
  font-size: 15px;
}

form button {
  margin-top: 10px;
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: #f06a7f;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.or {
  margin: 25px 0 15px;
  text-align: center;
  color: #aaa;
  position: relative;
}

.or:before,
.or:after {
  content: "";
  height: 1px;
  width: 40%;
  background: #ddd;
  position: absolute;
  top: 50%;
}

.or:before {
  left: 0;
}
.or:after {
  right: 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons img {
  width: 34px;
  cursor: pointer;
}

.setImage {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

@media (max-width: 900px) {
  .auth-wrapper {
    flex-direction: column;
  }

  .auth-image {
    height: 250px;
  }

  .setImage {
    height: 100%;
  }

  .auth-form {
    padding: 30px 20px;
  }
}

.auth-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  width: 70%;
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
}

.input-group small {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  display: block;
  padding-left: 6px;
}

/* Mobile */
@media (max-width: 768px) {
  .input-group {
    width: 95%;
  }
}

/* Sign UP css ends here */